body {
  background-color: #838198;
  color: ;
  display: flex;
  flex-direction: column;
}

h1 {
  text-align: center;
 font-size: 34pt;
 font-family: Tahoma;
 padding-top: 20pt;
}
.main{
  height: 600px;
  text-align: center;
  font-size: 100px;
  background-color: darkgreen;
  
}
.bottomBox{
  background-color: rgb(159, 216, 197);
  border-style: solid;
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}
.socialMedia{
  width: 270px;
  height: 324;
  padding: 10px;
  text-align: center;
}
.officeInfo{
  width: 270px;
  height: 324;
  padding: 10px;
  text-align: center;
}
.contactUs{
  width: 270px;
  height: 324;
  padding: 10px;
  text-align: center;
}
